[Unit]
Description=Check if CS:GO is the active (focused) window and if so disable compoistor, then re-enable when tabbed out of CS
After=multi-user.target

[Service]
#Type=forking
#Type=simple
User=user
ExecStart=/home/skylerspaeth/Projects/SkyOS-Tools/smoothcsgo.sh

[Install]
WantedBy=default.target
